.animate__pulse {
   animation-duration: 2000ms;
}

.animate__bounceInLeft {
   animation-duration: 3000ms;
}

.animate__bounceInRight {
   animation-duration: 5000ms;
}

._anim-show {
   transform: translate(0px, 140%);
   opacity: 0;
   transition: transform 700ms ease 0ms;
}

.anim-show._active,
._active ._anim-show {
   transform: translate(0px, 0px);
   opacity: 1;
}