@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66667;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px;
  border: none;
  width: 260px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  background-color: #ff6b09;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1366px) {
  .button {
    width: 354px;
    height: 70px;
    font-size: 14px;
  }
}

.botton-heder-desk {
  border: 2px solid #ff6b09;
  background-color: transparent;
  color: #ff6b09;
}

@media screen and (min-width: 1366px) {
  .botton-heder-desk {
    width: 336px;
  }
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.black-title {
  color: #111518;
}

.white-title {
  color: #ffffff;
}

.title-accent-word {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .title {
    font-size: 46px;
  }
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
.slider {
  padding-right: 49px;
  padding-left: 49px;
}

@media screen and (max-width: 767px) {
  .slider {
    position: relative;
  }
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-center {
  opacity: 1;
}

/* Стрелка */
.slick-arrow {
  height: 16px;
  width: 25px;
  font-size: 0px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  border: none;
  background-color: inherit;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background-image: url(../images/icons/arrow1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background-image: url(../images/icons/arrow2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.advantages {
  padding: 43px 0;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 108px 0;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantage-item {
  position: relative;
  width: 215px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .advantage-item:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-item:not(:last-child) {
    margin-right: 21px;
  }
}

@media screen and (min-width: 1366px) {
  .advantage-item {
    width: 448px;
    margin-right: 0;
  }
}

.advantage-item:nth-child(1)::before {
  background-image: url(../images/icons/advantage-icon3.svg);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1366px) {
  .advantage-item:nth-child(1)::before {
    width: 102px;
    height: 100px;
  }
}

.advantage-item:nth-child(2)::before {
  background-image: url(../images/icons/advantage-icon2.svg);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1366px) {
  .advantage-item:nth-child(2)::before {
    width: 102px;
    height: 100px;
  }
}

.advantage-item:nth-child(3)::before {
  background-image: url(../images/icons/advantage-icon1.svg);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1366px) {
  .advantage-item:nth-child(3)::before {
    width: 102px;
    height: 100px;
  }
}

.advantage-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding-left: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.64;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 1366px) {
  .advantage-title {
    font-size: 20px;
    padding-right: 110px;
    padding-left: 90px;
    height: 102px;
  }
}

.program {
  background-color: #111518;
  padding-top: 50px;
  padding-bottom: 437px;
}

.program-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}

.program-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 63px;
  margin-top: 43px;
  position: relative;
}

.program-list::after {
  content: '';
  display: block;
  position: absolute;
  background: url("../images/content/mobile/program-mob@2x.png");
  background-size: contain;
  opacity: 0.5;
  width: 120px;
  height: 137px;
  bottom: -97px;
  right: -20px;
}

.program-item {
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.program-item:not(:last-child) {
  padding-bottom: 40px;
}

.program-item:not(:last-child)::before {
  content: '';
  display: block;
  position: absolute;
  border-left: 1px solid #ffffff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 0;
  top: 10px;
  height: 100%;
  z-index: 1;
}

.program-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  margin-bottom: 5px;
}

.program-h3::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  left: -20px;
  z-index: 2;
}

.program-education-list {
  width: 176px;
}

.program-key-points {
  font-size: 12px;
  line-height: 1.649;
}

.program-key-points:not(:first-child) {
  margin-top: 8px;
}

.program-h4 {
  font-weight: bold;
  line-height: 1.649;
  color: #ff6b09;
  margin-bottom: 5px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: inherit;
}

.program-points-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
  opacity: 0.5;
  letter-spacing: 0.08em;
}

.sub-title {
  line-height: 1.36;
  text-align: left;
  width: 180px;
  margin-top: 50px;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .program {
    padding-top: 60px;
    padding-bottom: 172px;
  }
  .program-title {
    font-size: 26px;
    text-align: left;
  }
  .program-list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 52px;
  }
  .program-list::after {
    content: '';
    display: block;
    position: absolute;
    background: url("../images/content/tablet/program-tab@2x.png");
    background-size: contain;
    width: 384px;
    height: 280px;
    bottom: -139px;
    right: -40px;
  }
  .program-item {
    padding-left: 56px;
  }
  .program-h3::before {
    left: -56px;
  }
  .program-education-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .program-education-list :nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 176px;
  }
  .program-education-list :nth-child(2) {
    width: 155px;
  }
  .program-education-list :nth-child(3) {
    width: 110px;
  }
  .program-education-list-mod {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .program-key-points:not(:first-child) {
    margin-top: 0px;
    margin-left: 50px;
  }
  .sub-title {
    line-height: 1.36;
    text-align: center;
    width: 100%;
    margin-top: 189px;
  }
}

@media screen and (min-width: 1366px) {
  .program {
    padding-top: 120px;
    padding-bottom: 363px;
    position: relative;
  }
  .program::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid #ffffff;
    -webkit-transform: translateY(156px);
            transform: translateY(156px);
    width: 100vw;
    z-index: 1;
  }
  .program-container {
    position: relative;
  }
  .program-container::after {
    content: '';
    display: block;
    position: absolute;
    background: url("../images/content/desktop/program-desk@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 667px;
    height: 502px;
    bottom: -363px;
    left: -152px;
  }
  .program-title {
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: left;
    height: 57px;
  }
  .program-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0px;
    margin-top: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .program-list::after {
    content: 'none';
    display: none;
  }
  .program-item {
    padding-top: 60px;
    padding-left: 0px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 240px;
  }
  .program-item:not(:last-child) {
    padding-bottom: 0px;
  }
  .program-item:not(:last-child)::before {
    content: 'none';
    display: none;
  }
  .program-h3 {
    font-size: 20px;
    line-height: 1.4;
    text-transform: none;
    height: 28px;
  }
  .program-h3::first-letter {
    font-size: 30px;
    line-height: 0.93;
  }
  .program-h3::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff6b09;
    position: absolute;
    top: -60px;
    bottom: auto;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    left: auto;
    z-index: 2;
  }
  .program-education-list {
    width: 240px;
    display: block;
  }
  .program-h4 {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }
  .program-key-points {
    margin-top: 25px;
  }
  .program-key-points:not(:first-child) {
    margin-top: 25px;
    margin-left: 0px;
  }
  .program-points-description {
    font-size: 18px;
    line-height: 1.56;
    color: #b9b9b9;
    letter-spacing: 0.08em;
  }
  .sub-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.review {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.review-title {
  text-align: center;
  margin-bottom: 20px;
  color: #111518;
}

.comments-list {
  margin-bottom: 62px;
}

.commentators-photo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.vk-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.comments-item {
  text-align: center;
}

.commentators-name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  color: #ff6b09;
}

.comment-title {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 25px;
  color: #b9b9b9;
}

.comment-text {
  letter-spacing: 0.01em;
  color: #3d3d3d;
}

.text-box {
  padding-left: 20px;
  padding-right: 20px;
}

.comments-link {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .commentators-photo {
    min-width: 150px;
  }
  .left-side-review {
    margin-right: 46px;
  }
  .review-title {
    margin-bottom: 50px;
    font-size: 26px;
  }
  .comments-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .commentators-name {
    font-size: 20px;
    line-height: 1.2;
  }
  .text-box {
    text-align: start;
  }
}

@media screen and (min-width: 1366px) {
  .left-side-review {
    margin-right: 40px;
  }
  .review {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .review-title {
    font-size: 46px;
  }
  .commentators-name {
    font-size: 30px;
    line-height: 1.23;
  }
  .comment-title {
    font-size: 14px;
    line-height: 1.21;
  }
  .comment-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .text-box {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url("../images/content/mobile/contacts-mob.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 507px;
  background-color: #111518;
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (min-resolution: 192dpi) and (max-width: 480px), (min-resolution: 2dppx) and (max-width: 480px) {
  .contacts-section {
    background-image: url("../images/content/mobile/contacts-mob@2x.webp");
  }
}

@media screen and (min-width: 481px) {
  .contacts-section {
    background-image: url("../images/content/tablet/contacts-tab.webp");
  }
}

/* 2x и 768+ */
@media (min-device-pixel-ratio: 2) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 481px), (min-resolution: 192dpi) and (min-width: 481px), (min-resolution: 2dppx) and (min-width: 481px) {
  .contacts-section {
    background-image: url("../images/content/tablet/contacts-tab@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: url("../images/content/desktop/contacts-desk.webp");
  }
}

/* 2x и 1200+ */
@media (min-device-pixel-ratio: 2) and (min-width: 769px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px), (min-resolution: 192dpi) and (min-width: 769px), (min-resolution: 2dppx) and (min-width: 769px) {
  .contacts-section {
    background-image: url("../images/content/desktop/contacts-desk@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    height: 520px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-section {
    padding-top: 136px;
    padding-bottom: 20px;
    max-width: 1679px;
    height: 810px;
  }
}

.contacts-title {
  display: inline-block;
  width: 280px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-title {
    width: 688px;
    height: 100px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-title {
    width: 1090px;
    height: 170px;
    font-size: 46px;
  }
}

.contacts-text {
  display: inline-block;
  width: 280px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 1.22;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-text {
    margin-bottom: 23px;
    width: 452px;
    height: 51px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-text {
    margin-bottom: 54px;
    width: 1090px;
    height: 71px;
    font-size: 30px;
  }
}

.contacts-title--color-word {
  color: #ff6b09;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-form__name--input {
  width: 280px;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 28px;
  border: 1px solid #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-form__name--input {
    width: 390px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-form__name--input {
    margin-bottom: 29px;
    width: 478px;
    height: 67px;
    font-size: 20px;
  }
}

.contacts-form__phone--input {
  width: 280px;
  height: 48px;
  margin-bottom: 50px;
  padding-left: 28px;
  border: 1px solid #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-form__phone--input {
    width: 390px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-form__phone--input {
    margin-bottom: 77px;
    width: 478px;
    height: 67px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */