<section class="about" id="about">
    <div class="container">
        <h2 class="about-title title">Teacher</h2>
        <div class="about-tab">
            <picture>
                <source
                    srcset="./images/content/desktop/about-desk.webp 1x, ./images/content/desktop/about-desk@2x.webp 2x"
                    type="image/webp" media="(min-width: 1366px)">
                <source
                    srcset="./images/content/desktop/about-desk.jpg 1x, ./images/content/desktop/about-desk@2x.jpg  2x"
                    type="image/jpg" media="(min-width: 1366px)">
                <source
                    srcset="./images/content/tablet/about-tab.webp 1x, ./images/content/tablet/about-tab@2x.webp  2x"
                    type="image/webp" media="(min-width: 768px)">
                <source srcset="./images/content/tablet/about-tab.jpg 1x, ./images/content/tablet/about-tab@2x.jpg  2x"
                    type="image/jpg" media="(min-width: 768px)">
                <source
                    srcset="./images/content/mobile/about-mob.webp 1x,  ./images/content/mobile/about-mob@2x.webp 2x"
                    type="image/webp" media="(max-width: 767px)">
                <source srcset="./images/content/mobile/about-mob.jpg 1x, ./images/content/mobile/about-mob@2x.jpg  2x"
                    type="image/jpg" media="(max-width: 767px)">
                <img class="about-picture" src="#" alt="Преподаватель Елена Морева Teacher  Elena Moreva">
            </picture>

            <div class="about-tumb _anim-items _anim-no-hide">
                <h3 class="about-name title">Elena Moreva</h3>
                <ul class="about-list list">
                    <li class="about-item">
                        6 yeards of experience in preparing students for UPE
                    </li>
                    <li class="about-item">
                        Own result of passing VNO - 197 points 2 years in a row
                    </li>
                    <li class="about-item">
                        Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)
                    </li>

                </ul>
             <div class="text-box">
                <p class="text-descr">
                    Graduated from the Institute of International Relations of the NAU with a degree in
                    translator-analyst. </p>
                <p class="text-descr">
                    In spare time takes courses from the best universities in the world on effective teaching and essay
                    writing techniques.</p>
                <p class="text-descr">
                    Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
                    University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
                    (Berkeley),
                    The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of
                    Houston). </p>
                    </div>
                <a class="about-link" target="_blank" rel="noreferrer noopener"
                    aria-label="This is an external link (opens in a new tab)"
                    href="https://www.cambridgeenglish.org/">Cambrige English Entry Level
                    Certificate</a>
            </div>
        </div>
    </div>
</section>