<section class="advantages animate__pulse">
<div class="container">
      <h2 class="title visually-hidden">Advantages</h2>
      <ul class="advantage-list list">
         <li class="advantage-item">
            <h3 class="advantage-title">
               Adapted author's
               UPE program
            </h3>
         </li>
         <li class="advantage-item">
            <h3 class="advantage-title">
               Modern <br>
               teaching methods
            </h3>
         </li>
         <li class="advantage-item">
            <h3 class="advantage-title">
               Financial guarantee <br>
               the result
            </h3>
         </li>
      </ul>
</div>




</section>