<article class="contacts-section container">
  <h2 class="contacts-title">Registration for a <span class="contacts-title--color-word">free</span> phone <span
      class="contacts-title--color-word">consultation</span> on the nuances of English UPE</h2>
  <p class="contacts-text">Leave a request for participation in a<span class="contacts-title--color-word">free
      lesson</span>.<br>
    A consultant will contact you and answer your questions</p>

  <form class="contacts-form">
    <label class="contacts-form__legend" for="username">Имя</label>
    <input class="contacts-form__name--input" type="text" name="user-name" id="username" placeholder="" required
      autocomplete="off" />

    <label class="contacts-form__legend" for="phone">Телефон</label>
    <input class="contacts-form__contact--input" type="tel" name="user-tel" id="phone" placeholder="" autocomplete="off"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="096-111-11-11" />

    <button type="submit" class="button sent-form__submit">i want a free lesson</button>
  </form>

</article>