<header class="header" id="top">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo link" href="#bottom" mobile-logo>
        <span class="logo-text">
          Hell
          <svg class="logo-icon">
            <use href="../src/images/icons/sprite.svg#icon-fire"></use>
          </svg>
          EN
        </span>
        <span class="logo-text-accent"> hellish </span> english
      </a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="#program">studing program</a>
        </li>
        <li class="header-nav-item"><a class="header-nav-link" href="#about">about</a></li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-we-do">training options</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#registration">contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn-container">
      <button type="button" class="button-heder-menu" data-modal-open>
        consultation by phone
      </button>
      <button class="hamburger hamburger--emphatic" type="button" burger>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="mobile-header container" data-menu>
    <div class="mobile-header-container">
      <ul class="mobile-list list">
        <li class="mobile-item">
          <a class="mobile-link mobilemenu-current" href="#program">Studying program</a>
        </li>
        <li class="mobile-item"><a class="mobile-link" href="#about">About</a></li>
        <li class="mobile-item"><a class="mobile-link" href="#how-we-do">Training options</a></li>
        <li class="mobile-item"><a class="mobile-link" href="#registration">Contacts</a></li>
      </ul>
      <button type="button" class="button-mob-menu" data-modal-open-2>
        CONSULTATION BY PHONE
      </button>
    </div>
  </div>
</header>