<header class="header">
    <div class="header-wrappe container">
        <nav class="headernav">
            <a class="headernav__logo">HELL<span class="headernav__logosvg">
                <svg class="headernav__svghead"  width="22" height="30">
                    <use href="../src/images/icons/sprite.svg#icon-fire"></use>
                </svg>
            </span>ENN
            <p class="headernav__footer">HELLISH<span class="headernav__down"> ENGLISH</span></p>
        </a>
            <ul class="headernav__title hero">
                <li class="headernav__link"><a class="headernav__main">STUDING PROGRAM</a></li>
                <li class="headernav__link"><a class="headernav__main">ABOUT</a></li>
                <li class="headernav__link"><a class="headernav__main">TRAINING OPTIONS</a></li>
                <li class="headernav__link"><a class="headernav__main">CONTACTS</a></li>
            </ul>
        </nav>
        <button type="button" class="header-wrappe__order-button">CONSULTATION BY PHONE</button>

        <button type="button" class="header-wrappe__mobile-button" data-menu-button>
            <svg class="contact__iconhead" width="21" height="12">
                <use href="../src/images/icons/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>

    <div class="mobile-headermenu is-open">
        <div class="mobile-headermenu__container">
            <a class="headernav__mobile-logo">HELL<span class="headernav__mobile-logosvg">
                <svg class="headernav__mobile-svghead"  width="22" height="30">
                    <use href="../src/images/icons/sprite.svg#icon-fire"></use>
                </svg>
            </span>ENN
            <p class="headernav__footer">HELLISH<span class="headernav__mobiledown">ENGLISH</span></p>
        </a>

            <button type="button" class="mobile-headermenu__close-button" data-menu-close>
                <svg class="mobile-headermenu__iconheadclose" width="15" height="15">
                    <use href="../src/images/icons/sprite.svg#icon-close"></use>
                </svg>
            </button> 

            <ul class="mobile-headermenu__mobilehero hero">
                <li class="mobile-headermenu__item"><a class="mobile-mobilemenu__link mobile-headermenu__current">Studying program</a></li>
                <li class="mobile-headermenu__item"><a class="mobile-mobilemenu__link">About</a></li>
                <li class="mobile-headermenu__item"><a class="mobile-mobilemenu__link">Training options</a></li>
                <li class="mobile-headermenu__item"><a class="mobile-mobilemenu__link">Contacts</a></li>
            </ul>

            <button type="button" class="header-wrappe__mobileorder-button">CONSULTATION BY PHONE</button>
        </div>

    </div>


    
</header>