<header class="header">
    <div class="header-wrappe container">
        <nav class="headernav">
            <a class="desklogo">HELL<span class="deslogosvg">
                <svg class="desk-svghead"  width="22" height="30">
                    <use href="../src/images/icons/sprite.svg#icon-fire"></use>
                </svg></span>ENN
            <p class="head-footer">HELLISH<span class="headernav-down"> ENGLISH</span></p>
        </a>
            <ul class="headernav-title hero">
                <li class="head-link"><a class="head-main headermenu-current" href="#">STUDING PROGRAM</a></li>
                <li class="head-link"><a class="head-main" href="#">ABOUT</a></li>
                <li class="head-link"><a class="head-main" href="#">TRAINING OPTIONS</a></li>
                <li class="head-link"><a class="head-main" href="#">CONTACTS</a></li>
            </ul>
        </nav>
        <button type="button" class="order-button">CONSULTATION BY PHONE</button>

        <button type="button" class="mobile-button" data-menu-button>
            <svg class="iconhead" width="21" height="12">
                <use href="../src/images/icons/menu.svg#icon-menu"></use>
            </svg>
        </button>
    </div>

    <div class="mobile-header is-open">
        <div class="mobile-headermenu container">
            <a class="mobile-logo">HELL<span class="mobile-logosvg">
                <svg class="mobile-svghead"  width="22" height="30">
                    <use href="../src/images/icons/sprite.svg#icon-fire"></use>
                </svg></span>ENN
            <p class="head-footer">HELLISH<span class="mobiledown">ENGLISH</span></p>
        </a>

            <button type="button" class="close-button" data-menu-close>
                <svg class="iconheadclose" width="15" height="15">
                    <use href="../src/images/icons/sprite.svg#icon-close"></use>
                </svg>
            </button> 

            <ul class="mobilehero hero">
                <li class="mobile-item"><a class="mobile-link  mobilemenu-current" href="#">Studying program</a></li>
                <li class="mobile-item"><a class="mobile-link" href="#">About</a></li>
                <li class="mobile-item"><a class="mobile-link" href="#">Training options</a></li>
                <li class="mobile-item"><a class="mobile-link" href="#">Contacts</a></li>
            </ul>

            <button type="button" class="mobileorder-button">CONSULTATION BY PHONE</button>
        </div>

    </div>


    
</header>
