<section class="how-we-do">
    <div class="how-we-do-container container">
        <h2 class="how-we-do-title title black-title">How do we do it</h2>
        <div class="how-we-do-list-block">
            <ul class="how-we-do-list list">
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-program"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-mob-learn"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-book"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-support"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-student"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon">
                            <use href="./images/icons/sprite.svg#icon-audio"></use>
                        </svg>
                    </div>
                    <h2></h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
</section>