<section class="how-we-do">
    <div class="how-we-do-container container">
        <h2 class="how-we-do-title title black-title">How do we do it</h2>
        <!-- <div class="how-we-do-list-block"> -->
            <ul class="how-we-do-list list _anim-items _anim-no-hide">
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="46" height="48">
                            <use href="./images/icons/sprite.svg#icon-program"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">Adapted program preparation for UPE</h3>
                    <p class="how-we-do-desc">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="48" height="47">
                            <use href="./images/icons/sprite.svg#icon-mob-learn"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">Classroom and online learning</h3>
                    <p class="how-we-do-desc">The teacher will help not only in the classroom, but also during home preparation. Parents can chat if they wish.</p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="69" height="48">
                            <use href="./images/icons/sprite.svg#icon-book"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">The habit of reading in English</h3>
                    <p class="how-we-do-desc">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="49" height="48">
                            <use href="./images/icons/sprite.svg#icon-support"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">Psychological <span class="title-span">support</span></h3>
                    <p class="how-we-do-desc">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="40" height="48">
                            <use href="./images/icons/sprite.svg#icon-student"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">Training on copyright manuals</h3>
                    <p class="how-we-do-desc">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2 manuals for
                    you.</p>
                </li>
                <li class="how-we-do-item">
                    <div class="how-we-do-icon-wrapper">
                        <svg class="how-we-do-icon" width="57" height="48">
                            <use href="./images/icons/sprite.svg#icon-audio"></use>
                        </svg>
                    </div>
                    <h3 class="how-we-do-item-title black-title">Ability to comprehend spoken English</h3>
                    <p class="how-we-do-desc">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied
                    vocabulary.</p>
                </li>
            </ul>
        <!-- </div> -->
    </div>
</section>