<div class="backdrop" data-modal>
  <div class="modal-order-service">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon">
        <use href="./images/icons/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal-appeal">We will contact you soon</p>
    <form action="#" class="modal-form">
      <label class="modal-form-field">
        Name
        <span class="modal-form-wrapper">
          <input class="modal-form-input" type="text" name="user-name" required />
          <svg class="modal-form-icon">
            <use href="./images/icons/sprite.svg#icon-person-modal"></use>
          </svg>
        </span>
      </label>
      <label class="modal-form-field">
        Phone
        <span class="modal-form-wrapper">
          <input class="modal-form-input" type="tel" name="user-phone" required />
          <svg class="modal-form-icon">
            <use href="./images/icons/sprite.svg#icon-phone-modal"></use>
          </svg>
        </span>
      </label>
      <label class="modal-form-field">
        Comment
        <textarea
          name="user-message"
          class="modal-form-text"
          placeholder="enter your message"
        ></textarea>
      </label>
      <button class="modal-form-submit-btn" type="submit">Send</button>
    </form>
  </div>
</div>
