<section class="program">
  <div class="program-container container">
    <h2 class="program-title">Our program</h2>
    <ul class="program-list list">
      <li class="program-item">
        <h3 class="program-h3">1 semester</h3>
        <ul class="list program-education-list">
          <li class="program-key-points">
            <h4 class="program-h4">— Grammar</h4>
            <ul class="list">
              <li class="program-points-description">Nouns & Articles</li>
              <li class="program-points-description">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Family & Relations</li>
              <li class="program-points-description">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-h3">2 semester</h3>
        <ul class="list program-education-list">
          <li class="program-key-points">
            <h4 class="program-h4">— Grammar</h4>
            <ul class="list">
              <li class="program-points-description">Pronouns</li>
              <li class="program-points-description">Active Voice</li>
              <li class="program-points-description">Passive Voice</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Home</li>
              <li class="program-points-description">School</li>
              <li class="program-points-description">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-h3">3 semester</h3>
        <ul class="list program-education-list">
          <li class="program-key-points">
            <h4 class="program-h4">— Grammar</h4>
            <ul class="list">
              <li class="program-points-description">Modal verbs</li>
              <li class="program-points-description">Infinitive Gerund</li>
              <li class="program-points-description">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Travel & Tourism</li>
              <li class="program-points-description">Culture & Free Time</li>
              <li class="program-points-description">Sport</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-h3">4 semester</h3>
        <ul class="list program-education-list">
          <li class="program-key-points">
            <h4 class="program-h4">— Grammar</h4>
            <ul class="list">
              <li class="program-points-description">Clauses: Conditional and Wishes</li>
              <li class="program-points-description">Direct / Reported speech</li>
              <li class="program-points-description">Preposition</li>
              <li class="program-points-description">Conjunction</li>
              <li class="program-points-description">Numeral</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Healthy Living</li>
              <li class="program-points-description">Nature & Environment</li>
              <li class="program-points-description">Money</li>
            </ul>
          </li>
          <li class="program-key-points">
            <h4 class="program-h4">— Vocabulary</h4>
            <ul class="list">
              <li class="program-points-description">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-h3">5 semester</h3>
        <ul class="list program-education-list program-education-list-mod">
          <li class="program-key-points"><h4 class="program-h4">—</h4></li>
          <li>
            <ul class="list program-photo">
              <li class="program-points-description">Revision</li>
              <li class="program-points-description">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="program-title sub-title">Why do people choose us</h2>
  </div>
</section>
