.logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $primary-black-color;
    text-align: left;
    
    }

    .mobile-logo{
        @extend .logo;
        color: white;
        margin-bottom: 50px;
    }


.logo-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 0.8;    
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $accent-color;

}

.logo-text-accent{
    color: $primary-black-color;
}

.logo-icon{
    margin-right: 10px;
}

@media screen and (min-width:768px){

.logo-icon{
    margin-right: 15px;
}
}