.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop;
  overflow: auto;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $modal-time $backdrop-transition, visibility $modal-time $backdrop-transition;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
//----------------------------
.mobile-menu-logo {
  position: relative;
  z-index: 11;
  color: $primary-white-color;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.mobile-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  text-decoration: none;
  transition: $modal-time $modal-form;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mobile-header-container {
  position: relative;
  transform: translateX(-50%);
  top: 110px;
  left: 50%;
}
@media screen and (min-width: 480px) {
  .mobile-header-container {
    position: absolute;
    transform: translateX(-50%);
    top: 160px;
  }
}
@media screen and (min-width: 768px) {
  .button-mob-menu {
    display: none;
  }
  .mobile-link {
    font-size: 26px;
  }
}
