.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  background-color: $accent-color;
  transition: all 300ms ease 0ms;
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
}

.back-to-top::before,
.back-to-top::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-top::before {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f1f1f1;
}

.back-to-top::after {
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #f1f1f1;
  border-left: 5px solid #f1f1f1;
}
