.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}

.slider {
  position: relative;
  padding-right: 49px;
  padding-left: 49px;
}

.slider-item {
  display: flex;
  justify-content: center;
}

.slick-center {
  opacity: 1;
}

/* Стрелка */
.slick-arrow {
  height: 16px;
  width: 25px;
  font-size: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  background-color: inherit;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background-image: url(../images/icons/arrow1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background-image: url(../images/icons/arrow2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
