.about {
  padding-top: 40px;
}
.about-list {
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 600;
  letter-spacing: 0.06em;
  color: $primary-black-color;
  padding-left: 27px;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    background-color: $accent-color;
    height: 2px;
    width: 18px;
  }
}

.text-descr {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
}
.about-title {
  color: $primary-black-color;
  margin-bottom: 20px;
}
.about-name {
  display: flex;
  align-items: center;

  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $primary-black-color;
  border-bottom: 1px solid $primary-text-color;
  margin-bottom: 20px;
}

.about-link {
  color: $accent-color;
  font-size: 12px;
  line-height: 1.67;
  margin-top: 10px;
}

.about-picture {
  margin-bottom: 20px;
}

.about-item {
  position: relative;
  padding-bottom: 25px;

  display: flex;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../images/icons/checked.svg');

    width: 17px;
    height: 14px;
    top: 1px;
    left: -25px;

    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.about-check {
  margin-right: 10px;
}

.about-tumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 50px;
  }
  .about-title {
    margin-bottom: 30px;
  }
  .about-list {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .about-item {
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 50px;
    }
  }
  .about-tab {
    display: flex;
    justify-content: space-between;
  }

  .about-name {
    padding-top: 0px;
    font-size: 20px;
  }
  .text-descr {
    font-size: 10px;
    line-height: 2;
  }
  .about-link {
    margin-top: 24px;
  }
  .about-tumb {
    width: 402px;
  }
}
@media screen and (min-width: 1366px) {
  .about-title {
    margin-bottom: 50px;
  }
  .about-name {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    line-height: 1.23;
  }
  .about-item {
    font-size: 16px;
    line-height: 1.55;
  }
  .text-descr {
    font-size: 18px;
    line-height: 1.55;
  }

  .about-link {
    font-size: 18px;
    line-height: 1.55;
    margin-top: 47px;
  }

  .about-tab {
    justify-content: start;
  }
  .about-tumb {
    width: 642px;
  }

  .about-picture {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
