.advantages {
  padding: 30px 0 45px;

  @media screen and (min-width: 768px) {
    padding: 46px 0;
  }

  @media screen and (min-width: 1366px) {
    padding: 97px 0 130px;
  }
}

.advantage-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantage-item {
  position: relative;
  width: 215px;
  margin: 0 auto;

  color: $primary-black-color;

  opacity: 0;
  transition: opacity 1000ms ease 0ms;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1365px) {
    width: calc(100% / 2 - 21px);

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  @media screen and (min-width: 1366px) {
    width: calc(100% / 3);
  }
}

.advantage-list._active .advantage-item {
  opacity: 1;
}


.advantage-item {
  &::before {
  background-image: url(../images/icons/advantage-icon3.svg);
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    @media screen and (min-width: 1366px) {
      background-image: url(../images/icons/advantage-icon3-desc.svg);
      width: 100px;
      height: 102px;
    }
  }

}

.advantage-item:nth-child(2) {
  &::before {
    background-image: url(../images/icons/advantage-icon2.svg);

      @media screen and (min-width: 1366px) {
        background-image: url(../images/icons/advantage-icon2-desc.svg);
      }
     }
}

.advantage-item:nth-child(3) {
  &::before {
    background-image: url(../images/icons/advantage-icon1.svg);

      @media screen and (min-width: 1366px) {
        background-image: url(../images/icons/advantage-icon1-desc.svg);
      }
    }
}

.advantage-title {
  display: flex;
  align-items: center;

  height: 60px;

  padding-left: 70px;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 1.64;

  letter-spacing: 0.08em;

  @media screen and (min-width: 1366px) {
    font-size: 20px;
    padding-left: 90px;
    height: 102px;
  }
}




