.advantages {
  padding: 43px 0;

  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 108px 0;
  }
}

.advantage-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantage-item {
  position: relative;
  width: 215px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  @media screen and (min-width: 1366px) {
    width: 448px;
    margin-right: 0;
  }
}

.advantage-item:nth-child(1) {

  &::before {
  background-image: url(../images/icons/advantage-icon3.svg);
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1366px) {
    width: 102px;
    height: 100px;
  }
  

  }
  
}

.advantage-item:nth-child(2) {
  &::before {
    background-image: url(../images/icons/advantage-icon2.svg);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
  
    width: 60px;
    height: 60px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
      @media screen and (min-width: 1366px) {
        width: 102px;
        height: 100px;
      }
      
  
    }

}

.advantage-item:nth-child(3) {
  &::before {
    background-image: url(../images/icons/advantage-icon1.svg);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
  
    width: 60px;
    height: 60px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
      @media screen and (min-width: 1366px) {
        width: 102px;
        height: 100px;
      }
      
  
    }

}

.advantage-title {
  display: flex;
  align-items: center;

  height: 60px;

  padding-left: 70px;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 1.64;

  letter-spacing: 0.08em;

  @media screen and (min-width: 1366px) {
    font-size: 20px;
    padding-right: 110px;
    padding-left: 90px;
    height: 102px;
  }
}


