.benefits {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -1px;
  background-image: linear-gradient(to bottom, $primary-black-color 64%, $primary-white-color 64%);
}
.benefits-container {
  // padding-bottom: 39px;
  position: relative;
}
.benefits-title {
  color: $primary-white-color;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  width: 180px;
  margin-bottom: 30px;
}
.benefits-list-block {
  padding: 20px 14px 20px 30px;
  font-weight: 700;
  font-size: 14px;

  color: $primary-black-color;
  background-color: $primary-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.benefits-list {
  counter-reset: section;
}
.benefits-item {
  line-height: (20px / 14px);

  &:not(:last-child) {
    margin-bottom: 36px;
  }
  &::before {
    counter-increment: section;
    content: '— 0' counter(section);
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.43;
    color: $accent-color;
  }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .benefits {
    background-image: linear-gradient(
      to bottom,
      $primary-black-color 32%,
      $primary-white-color 32%
    );
  }
  .benefits-title {
    width: 100%;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }
  .benefits-container {
    padding-bottom: 50px;
  }
  .benefits-list-block {
    padding: 35px 96px 40px 98px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-item {
    flex-basis: calc(100% / 2 - 20px);
    flex-grow: 1;
    &::before {
      margin-bottom: 18px;
      line-height: 1.649;
    }
    &:not(:last-child) {
      margin-bottom: unset;
    }
    &:nth-child(n + 3) {
      margin-top: 38px;
    }
    &:nth-child(2n) {
      margin-left: 20px;
    }
  }
}
@media screen and (min-width: 1366px) {
  .benefits {
    padding-top: 82px; // was not
    padding-bottom: 65px; // was not
    background-image: linear-gradient(
      to bottom,
      $primary-black-color 38%,
      $primary-white-color 38%
    );
  }
  .benefits-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .benefits-container {
    padding-bottom: 130px;
  }
  .benefits-list-block {
    padding: 70px 82px 70px 84px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-item {
    font-size: 20px;
    flex-basis: calc(100% / 3 - 40px);
    flex-grow: 1;
    &::before {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.649;
    }
    &:not(:last-child) {
      margin-bottom: unset;
    }
    &:nth-child(n + 4) {
      margin-top: 32px;
    }
    &:not(:first-child) {
      margin-left: 40px;
    }
    &:nth-child(4n) {
      margin-left: 0px;
    }
  }
}

.benefits-list .benefits-item {
  transform: translateX(220%);
  opacity: 0;
  transition: transform 1000ms ease 0ms, opacity 1000ms ease 0ms;
}

.benefits-list._active .benefits-item {
  transform: translateX(0px);
  opacity: 1;
}

.benefits-list._active .benefits-item:nth-child(1) {
  transition: transform 1000ms ease 0ms, opacity 1000ms ease 0ms;
}

.benefits-list._active .benefits-item:nth-child(2) {
  transition: transform 1000ms ease 200ms, opacity 1000ms ease 200ms;
}

.benefits-list._active .benefits-item:nth-child(3) {
  transition: transform 1000ms ease 400ms, opacity 1000ms ease 400ms;
}

.benefits-list._active .benefits-item:nth-child(4) {
  transition: transform 1000ms ease 600ms, opacity 1000ms ease 600ms;
}

.benefits-list._active .benefits-item:nth-child(5) {
  transition: transform 1000ms ease 800ms, opacity 1000ms ease 800ms;
}

.benefits-list._active .benefits-item:nth-child(6) {
  transition: transform 1000ms ease 1000ms, opacity 1000ms ease 1000ms;
}
