//style for section and change background images//
.contacts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;

    background-image: url("../images/content/mobile/contacts-mob.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-color: #111518;
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px),
    (min-resolution: 192dpi) and (max-width: 480px),
    (min-resolution: 2dppx) and (max-width: 480px) {
    .contacts {
        background-image: url("../images/content/mobile/contacts-mob@2x.webp");
    }
}

@media screen and (min-width: 481px) {
    .contacts {
        background-image: url("../images/content/tablet/contacts-tab.webp");
    }
}

/* 2x и 768+ */
@media (min-device-pixel-ratio: 2) and (min-width: 481px),
    (min-resolution: 192dpi) and (min-width: 481px),
    (min-resolution: 2dppx) and (min-width: 481px) {
    .contacts {
        background-image: url("../images/content/tablet/contacts-tab@2x.webp");
    }
}

@media screen and (min-width: 769px) {
    .contacts {
        background-image: url("../images/content/desktop/contacts-desk.webp");
    }
}

/* 2x и 1200+ */
@media (min-device-pixel-ratio: 2) and (min-width: 769px),
    (min-resolution: 192dpi) and (min-width: 769px),
    (min-resolution: 2dppx) and (min-width: 769px) {
    .contacts {
        background-image: url("../images/content/desktop/contacts-desk@2x.webp");
    }
}
@media screen and (min-width: 768px) {
    .contacts {
        padding-top: 66px;
        padding-bottom: 67px;
    }
}

@media screen and (min-width: 1366px) {
    .contacts {
        padding-top: 100px;
        padding-bottom: 65px;
        max-width: 1680px;
    }
}
//style for title//
.contacts-title {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        margin-bottom: 52px;
        width: 688px;
        font-size: 26px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 50px;
        width: 1000px;
        font-size: 46px;
    }
}

//style for text section//
.contacts-text {
    width: 285px;
    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 1.22;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        margin-bottom: 23px;
        width: 452px;
        font-size: 14px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 56px;
        width: 950px;
        font-size: 30px;
    }
}
.section-title-accent {
    color: $accent-color;
}

//style for form consultation//

.contacts-form {
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.contacts-form-input {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    border: 1px solid $primary-white-color;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    background-color: transparent;
    color: $primary-white-color;
    &:focus {
        outline: none;
    }

    @media screen and (min-width: 1366px) {
        font-size: 20px;
        padding-left: 40px;
    }
}

.position-name {
    margin-bottom: 20px;
    @media screen and (min-width: 1366px) {
        margin-bottom: 30px;
    }
}

.position-phone {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        margin-bottom: 31px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 80px;
    }
}

.form-wrapper {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 48px;
    @media screen and (min-width: 768px) {
        width: 390px;
    }
    @media screen and (min-width: 1366px) {
        width: 478px;
        height: 70px;
        font-size: 20px;
    }
}
.form-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    color: $primary-white-color;
    font-size: 14px;
    @media screen and (min-width: 1366px) {
        font-size: 20px;
        left: 40px;
    }
}
.contacts-form-input:focus + .form-label,
.contacts-form-input:not(:placeholder-shown) + .form-label {
    color: transparent;
}

.invalid-input:invalid {
    border-color: red;
}
