.contacts-section {
    // background-image: url(".//");
    background-color: grey;
}
.contacts-title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    color: $primary-white-color;
}

.contacts-text {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 1.2;
    color: $primary-white-color;
}
.contacts-title--color-word {
    color: $accent-color;
}
