.contacts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    background-image: url("../images/content/mobile/contacts-mob.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-color: #111518;
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px),
    (min-resolution: 192dpi) and (max-width: 480px),
    (min-resolution: 2dppx) and (max-width: 480px) {
    .contacts {
        background-image: url("../images/content/mobile/contacts-mob@2x.webp");
    }
}

@media screen and (min-width: 481px) {
    .contacts {
        background-image: url("../images/content/tablet/contacts-tab.webp");
    }
}

/* 2x и 768+ */
@media (min-device-pixel-ratio: 2) and (min-width: 481px),
    (min-resolution: 192dpi) and (min-width: 481px),
    (min-resolution: 2dppx) and (min-width: 481px) {
    .contacts {
        background-image: url("../images/content/tablet/contacts-tab@2x.webp");
    }
}

@media screen and (min-width: 769px) {
    .contacts {
        background-image: url("../images/content/desktop/contacts-desk.webp");
    }
}

/* 2x и 1200+ */
@media (min-device-pixel-ratio: 2) and (min-width: 769px),
    (min-resolution: 192dpi) and (min-width: 769px),
    (min-resolution: 2dppx) and (min-width: 769px) {
    .contacts {
        background-image: url("../images/content/desktop/contacts-desk@2x.webp");
    }
}

@media screen and (min-width: 1366px) {
    .contacts {
        padding-top: 100px;
        padding-bottom: 60px;
        max-width: 1680px;
    }
}
.contacts-title {
    display: inline-block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 3px;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        margin-bottom: 61px;
        width: 688px;
        font-size: 26px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 50px;
        width: 1000px;
        font-size: 46px;
    }
}

.contacts-text {
    display: inline-block;
    width: 285px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 1.22;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        margin-bottom: 25px;
        width: 452px;
        font-size: 14px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 58px;
        width: 950px;
        font-size: 30px;
    }
}
.contacts-color-word {
    color: $accent-color;
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

.contacts-form-name {
    width: 280px;
    height: 48px;
    margin-bottom: 20px;
    padding-left: 28px;
    border: 1px solid $primary-white-color;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    background-color: transparent;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        width: 390px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 30px;
        width: 478px;
        height: 70px;
        font-size: 20px;
    }
}

.contacts-form-phone {
    width: 280px;
    height: 48px;
    margin-bottom: 50px;
    padding-left: 28px;
    border: 1px solid $primary-white-color;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    background-color: transparent;
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
        width: 390px;
    }
    @media screen and (min-width: 1366px) {
        margin-bottom: 80px;
        width: 478px;
        height: 70px;
        font-size: 20px;
    }
}
// .contacts-form-legend {
//     position: relative;
// }
// .placeholder-color {
//     z-index: 100;
//     cursor: text;
//     position: absolute;
//     top: 0px;
//     left: 28px;
//     color: $primary-white-color;
// }
// .contacts-form-legend input:invalid + .placeholder-color {
//     display: inline;
// }
