.contacts-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-logo-text {
}

.copyright {
  background-color: black;
  text-align: start;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-contacts-list {
  display: block;
  text-align: center;
}

.phone-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  margin-bottom: 30px;
  color: $primary-black-color;
}

.phone-icon {
  width: 20px;
  height: 19px;
  margin-right: 10px;
}

.instagram {
  width: 40px;
  height: 40px;
}

.instagram-icon {
  margin-left: auto;
  margin-right: auto;
}

.copyright-text {
  font-size: 14px;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .footer-contacts-list {
    display: flex;
    align-items: center;
  }

  .contacts-section {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 0px;
  }

  .phone-icon {
    width: 24px;
    height: 23px;
  }

  .phone-link {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0px;
    padding-right: 24px;
    margin-right: 24px;
    border-right: 1px solid $primary-text-color;
  }

  .footer-logo-text {
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1366px) {
  .phone-icon {
    width: 30px;
    height: 28px;
    margin-right: 15px;
  }

  .phone-link {
    font-size: 30px;
    line-height: 1.23;
  }

  .contacts-section {
    justify-content: start;
  }

  .footer-logo {
    margin-right: 290px;
  }
}
