.guar {
  padding-top: 50px;
}

.guar-list {
  padding: 50px 20px;
  background-color: $secondary-bg-color;
}

.guar-titel {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.guar-item {
  position: relative;
  padding-left: 28px;

  &:not(:last-child) {
    padding-bottom: 23px;
    border-left: 1px dashed $primary-text-color;
  }

  &::before {
    position: absolute;

    content: '';
    background-image: url(../images/icons/fire.svg);

    width: 15px;
    height: 20px;
    left: -8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.guar-text-accent {
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  .guar-list {
    padding: 30px 50px 30px 80px;
  }
}
@media screen and (min-width: 1366px) {
  .guar-list {
    padding: 50px 112px 45px 112px;
  }
  .guar-titel {
    font-size: 46px;
    margin-bottom: 50px;
  }
  .guar-item {
    font-size: 20px;
    line-height: 1.4;
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.guar-list {
  transform: scale(2);
  opacity: 0;
  transition: transform 1000ms ease 0ms,
  opacity 1000ms ease 100ms;
}

.guar-list._active{
  transform: scale(1);
  opacity: 1;
}

