.header{
    padding: 40px 0;
}


.order-button{
display: none;
}

.header-nav-list{
    display: flex;
    margin-left: 114px;
}

.header-nav-list{
    display: none;
}


.header-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mobile-button{

    background-color: transparent;
    border: none;
}

.iconhead{
    width: 30px;
    height: 30px;
}


.mobile-header.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(17, 21, 24, 0.9);;
    overflow: auto;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

// Modalmenu

.mobile-menu{
    display: flex;
    flex-direction: column;
    padding: 38px 30px;
    position: relative;
    width: 100%;
    height: 100%;
}

.close-button{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 15px;
    margin-top: 5px;
}

.mobile-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.mobile-link:hover,
.mobile-link:focus{
    color: $accent-color;
}

.mobiledown{
    color: $primary-white-color;
}

.mobile-list{
    margin-bottom: 50px;
    text-align: left;
    align-self: center;
}


  .mobile-link.mobilemenu-current{
    color: $accent-color;

  }


// =================================================

@media screen and (min-width:768px) {


.order-button{
        display: block;
        }



.header-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

    
}

@media screen and (min-width:1366px) {

    .mobile-header{
        display: none;

    }

    .mobile-menu-container.is-open{
        display: none;
    }
   
    .mobile-button{
        display: none;
    }

    
      .header-nav-link.current{
        color: $accent-color;
    
      }
      .order-button{
          margin-right: auto;
      }


    
    .header-nav-list{
        display: flex;
        margin-left: 114px;
    }
    .header-nav-item:not(:last-child){
        margin-right: 40px;
    }
    
    .header-nav{
        display: flex;
        align-items: center;
    }

            
    .header-nav-link{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $primary-text-color;
    }

    .header-nav-link:hover,
    .header-nav-link:focus{
        color: $accent-color;
    }

    .order-button{
        padding: 27px 23px;
    }

}

