.header-wrappe {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-logo {
  color: $primary-black-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
}
.header-logo-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: left;
  display: flex;
  align-items: center;
  text-transform: none;
  margin-bottom: 4px;
}
.header-logo-icon {
  margin-left: 4px;
  margin-right: 4px;
  width: 14px;
  height: 19px;
}
.logo-text-accent {
  margin-left: 4px;
  color: $accent-color;
}
.header-nav-list,
.header-order-button {
  display: none;
}
.header-mobile-button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}
.header-burger-icon {
  width: 30px;
  height: 30px;
}
//-------------tablet------------------------
@media screen and (min-width: 768px) {
  .header-logo {
    color: $primary-black-color;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    .header-logo-icon {
      width: 22px;
      height: 30px;
    }
  }
  .header-logo-text {
    font-size: 26px;
    line-height: 1.23;
  }
  .header-order-button {
    display: block;
  }
  .header-btn-container {
    display: flex;
  }
  .header-order-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background-color: $primary-white-color;
    cursor: pointer;
    color: $accent-color;
    border: 2px solid $accent-color;
    padding: 15px 5px;
    transition: $modal-time $modal-form;
    &:focus,
    &:hover {
      color: #fff;
      background-color: $accent-color;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  .header-mobile-button {
    margin-left: 40px;
  }
}
//--------------desktop---------------------
@media screen and (min-width: 1366px) {
  .header-mobile-button {
    display: none;
  }
  .header-order-button {
    min-width: 336px;
    min-height: 70px;
  }
  .header-nav-list {
    display: flex;
    margin-left: 114px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $primary-text-color;
    transition: $modal-time $modal-form;
    &:hover,
    &:focus {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      color: $accent-color;
    }
  }
}
//-----------mobile menu----------------
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop;
  overflow: auto;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $modal-time $backdrop-transition, visibility $modal-time $backdrop-transition;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
//----------------------------
.mobile-logo {
  color: $primary-white-color;
}
.mobile-close-button {
  border: none;
  background-color: transparent;

  /*   border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 15px;
  margin-top: 5px; */
}
.mobile-close-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: $modal-time $modal-form;
  .mobile-close-button:focus &,
  .mobile-close-button:hover & {
    fill: $accent-color;
  }
}

.mobile-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mobile-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  text-decoration: none;
  transition: $modal-time $modal-form;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mobile-order-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  color: $accent-color;
  border: 2px solid $accent-color;
  padding: 15px 5px;
  margin-left: auto;
  margin-right: auto;
  &:focus,
  &:hover {
    color: #fcf0e8;
    background-color: #ff6b0936;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
@media screen and (min-width: 768px) {
  .mobile-order-button {
    display: none;
  }
}
