.hero {
   padding: 20px 0;
   // background-image: url(../images/content/mobile/hero-bg-mob.webp);
   // box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);;
 
   @media screen and (min-width: 768px) {
     padding: 30px 0;
   }
 
   @media screen and (min-width: 768px) {
     padding: 13px 0;
   }
 }

.hero-container {
   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
} 

.hero-content {
   
   @media screen and (min-width: 768px) {
      width: 332px;
   }

   @media screen and (min-width: 1366px) {
      width: 520px;
   }

   
}
.hero-title {
   margin-bottom: 30px;

   font-weight: 800;
   font-size: 20px;
   line-height: 1.3;
   letter-spacing: 0.03em;

   @media screen and (min-width: 768px) {
      font-size: 26px;
   }

   @media screen and (min-width: 1366px) {
      font-size: 58px;
   }
}

.hero-text {
   font-size: 14px;
   line-height: 1.57;
   color: $primary-text-color;
   outline: 1px solid tomato;

   @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 1.64;
   }
}

.hero-guarantee {
   display: block;
   margin-bottom: 30px; 
   font-weight: 700; 
   font-size: 14px;
   line-height: 1.57;
   outline: 1px solid tomato;

   @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 1.64;
      margin-bottom: 109px; 
   }
}

.hero-guarantee-accent {
   color: $accent-color;
}

.hero-button {
   margin-bottom: 30px;

   text-transform: uppercase;
}

.hero-background {
   // @keyframes beat {
   //    0% {
   //      transform: scale(1);
   //    }
    
   //    14% {
   //      transform: scale(1.15);
   //    }
    
   //    28% {
   //      transform: scale(1);
   //    }
    
   //    42% {
   //      transform: scale(1.15);
   //    }
    
   //    70% {
   //      transform: scale(1);
   //    }
   //  }
    
   //  .hero-background {
   //    animation-name: beat;
   //    animation-duration: 750ms;
   //    animation-timing-function: ease-in-out;
   //  }



   @media screen and (max-width: 767px) {
      width: 208px;
      margin: 0 auto;
   }

   @media screen and (min-width: 768px) {
      width: 376px;
   }

   @media screen and (min-width: 1366px) {
      width: 842px;
   }
}
