.how-we-do {
  padding-top: 25px; // was 50
  padding-bottom: 50px;
}

.how-we-do-title {
  margin-bottom: 30px;

  text-align: center;
}

.how-we-do-list {
  text-align: center;

  transform: translate(-100%, 0px);
  opacity: 0;
  transition: transform 1000ms ease 0ms, opacity 1000ms ease 0ms;
}

.how-we-do-list._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.how-we-do-item {
  padding: 0 11px;
  // padding-bottom: 6px;

  width: 100%;
  height: 280px;

  background-color: $primary-white-color;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

  transition: color 250ms, background-color 250ms;
}

.how-we-do-item:not(:last-child) {
  margin-bottom: 15px;
}

.how-we-do-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 98px;
}

.how-we-do-icon {
  color: $accent-color;
  fill: currentColor;

  transition: color 250ms;
}

.how-we-do-item-title {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: (20px / 14px); // 143%

  transition: color 250ms;
}

.title-span {
  display: block;
}

.how-we-do-item-title::after {
  content: '—';
  display: block;
  margin-top: 5px;

  font-size: 20px;
  line-height: (33px / 20px); // 165%
  color: $accent-color;

  transition: color 250ms;
}

.how-we-do-item:hover {
  color: $primary-white-color;
  background-color: $accent-color;
  cursor: pointer;
}

.how-we-do-item:hover .how-we-do-item-title::after,
.how-we-do-item:hover .how-we-do-item-title,
.how-we-do-item:hover .how-we-do-icon {
  color: $primary-white-color;
}

@media screen and (min-width: 768px) {
  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -27px;
    margin-left: -20px;
  }

  .how-we-do-item {
    margin-top: 27px;
    margin-left: 20px;
    padding: 0 20px;
    // padding-bottom: 6px;

    flex-basis: calc((100% - 40px) / 2);
    height: 334px;
  }

  .how-we-do-item:not(:last-child) {
    margin-bottom: unset;
  }

  .how-we-do-icon-wrapper {
    height: 118px;
  }

  .how-we-do-item-title {
    margin-bottom: 10px;
  }

  .how-we-do-item-title::after {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1366px) {
  .how-we-do {
    padding-top: 65px; //was 130
    padding-bottom: 130px;
  }

  .how-we-do-title {
    margin-bottom: 50px;

    text-align: unset;
  }

  .how-we-do-list {
    margin-top: -20px;
    margin-left: -20px;
  }

  .how-we-do-item {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0 30px;
    padding-bottom: 55px;

    flex-basis: calc((100% - 60px) / 3);
    height: 396px;
  }

  .how-we-do-item-title {
    margin-bottom: unset;
    font-size: 20px;
    line-height: (28px / 20px); // 140%
  }

  .how-we-do-item-title::after {
    margin-top: unset;
  }

  .how-we-do-desc {
    font-size: 18px;
    line-height: (28px / 18px); // 156%
  }
}
