.problems {
  background-image: linear-gradient(to bottom, $primary-black-color 75%, $primary-white-color 75%);
}

.problems-container {
  padding-top: 27px;
}

.problems-title {
  margin-bottom: 25px;
}

.problems-list-block {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  //   width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 2; //200%

  background-color: $primary-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems-list {
  //   width: 100%;
  counter-reset: section;
}

.problems-item:not(:last-child) {
  padding-bottom: 5px;
}

.problems-item::before {
  counter-increment: section;
  content: '— 0' counter(section);

  font-size: 14px;
  line-height: (17px / 14px); //121%

  color: $accent-color;
}
