//------------280-480px-MOBILE-----------------------------------
.program {
  margin-bottom: -1px;
  background-color: $primary-black-color;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.program-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: $primary-white-color;
  margin-bottom: 43px;
}
.program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 63px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url('../images/content/mobile/program-mob.png');
    background-size: contain;
    opacity: 0.5;
    width: 120px;
    height: 137px;
    bottom: -97px;
    right: -20px;
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 768px),
  (min-resolution: 192dpi) and (max-width: 768px),
  (min-resolution: 2dppx) and (max-width: 768px) {
  .program-list {
    &::after {
      background-image: url('../images/content/mobile/program-mob@2x.png');
    }
  }
}
.program-item {
  position: relative;
  padding-left: 20px;
  box-sizing: content-box;
  &:not(:last-child) {
    padding-bottom: 40px;
  }
  &:not(:last-child) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      border-left: 1px solid $primary-white-color;
      transform: translate(-50%);
      left: 0;
      top: 10px;
      height: 100%;
      z-index: 1;
    }
  }
}
.program-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: $primary-white-color;
  position: relative;
  margin-bottom: 5px;
  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-color;
    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    left: -20px;
    z-index: 2;
  }
}
.program-study-block {
  width: 176px;
}
.program-study-block-item {
  font-size: 12px;
  line-height: 1.649;
  &:not(:first-child) {
    margin-top: 8px;
  }
}
.program-study-block-title {
  font-weight: bold;
  line-height: 1.649;
  color: $accent-color;
  margin-bottom: 5px;
  height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: inherit;
}
.program-photo {
  margin-top: 10px;
}
.program-topic-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-text-color;
  opacity: 0.5;
  letter-spacing: 0.08em;
}
//-----------TABLET-768px-------------------------
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .program {
    padding-top: 60px;
    padding-bottom: 189px;
  }
  .program-title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 52px;
  }
  .program-list {
    align-items: stretch;
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../images/content/tablet/program-tab.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 384px;
      height: 280px;
      transform: translateY(50%);
      bottom: 0;
      right: -40px;
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    .program-list {
      &::after {
        background-image: url('../images/content/tablet/program-tab@2x.png');
      }
    }
  }
  .program-item {
    padding-left: 56px;
  }
  .program-item-title {
    &::before {
      left: -56px;
    }
  }
  .program-study-block {
    display: flex;
  }
  .program-study-block :nth-child(1) {
    flex: none;
    width: 176px;
  }
  .program-study-block :nth-child(2) {
    width: 155px;
  }
  .program-study-block :nth-child(3) {
    width: 110px;
  }
  .program-study-block-mod {
    flex-direction: column;
  }
  .program-study-block-item {
    &:not(:first-child) {
      margin-top: 0px;
      margin-left: 50px;
    }
  }
}
//---------------1366px-desktop--------------
@media screen and (min-width: 1366px) {
  .program {
    padding-top: 120px;
    padding-bottom: 164px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px solid $primary-white-color;
      transform: translateY(156px);
      width: 100vw;
      z-index: 1;
    }
  }
  .program-container {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: url('../images/content/desktop/program-desk.png');
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.5;
      width: 667px;
      height: 502px;
      bottom: -304px;
      left: -152px;
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1366px),
    (min-resolution: 192dpi) and (min-width: 1366px),
    (min-resolution: 2dppx) and (min-width: 1366px) {
    .program-container {
      &::after {
        background-image: url('../images/content/desktop/program-desk@2x.png');
      }
    }
  }
  .program-title {
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: left;
    height: 57px;
    margin-bottom: 100px;
  }
  .program-list {
    flex-direction: row;
    margin-left: 0px;
    justify-content: space-between;
    align-items: start;

    &::after {
      content: 'none';
      display: none;
    }
  }
  .program-item {
    padding-top: 60px;
    padding-left: 0px;
    box-sizing: content-box;
    width: 240px;
    &:not(:last-child) {
      padding-bottom: 0px;
    }
    &:not(:last-child) {
      &::before {
        content: 'none';
        display: none;
      }
    }
  }
  .program-item-title {
    font-size: 20px;
    line-height: 1.4;
    text-transform: none;
    height: 28px;
    &::first-letter {
      font-size: 30px;
      line-height: 0.93;
    }
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $accent-color;
      position: absolute;
      top: -60px;
      bottom: auto;
      transform: translate(0%, -50%);
      left: auto;
      z-index: 2;
    }
  }
  .program-study-block {
    width: 240px;
    display: block;
  }
  .program-study-block-title {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }
  .program-study-block-item {
    margin-top: 25px;
    &:not(:first-child) {
      margin-top: 25px;
      margin-left: 0px;
    }
  }
  .program-topic-item {
    font-size: 18px;
    line-height: 1.56;
    color: $primary-text-color;
    letter-spacing: 0.08em;
  }
}
